div.hui-chats-footer.huo-flex-box
    div.hui-footer-chats(ms-click="goPages('chats')")
    div.hui-footer-profile(ms-click="goPages('profile')")
    div.hui-footer-settings(ms-click="goPages('settings')")
    div.hui-footer-calendar(ms-click="goPages('calendar')")