extends layout

block content
  div.hui-profile-header
      div.hui-profile-img
      div.hui-profile-headerName 美女bb
  div.hui-profile-description GAFA
  div.hui-profile-name
      div.hui-profile-name-inner
          div.hui-profile-name-text 美女bb
          div 用户名
  div.hui-profile-phone
      div.hui-profile-phone-inner
          div.hui-profile-phone-text 13800138000
          div 电话

  include script
