//模板文件不是孤立展示的，默认情况下所有的模板都继承自layout.ejs
doctype html
html
    head
    meta(http-equiv='X-UA-Compatible',content='text/html; charset=utf-8;IE=edge')
    meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    title= title
    link(rel='stylesheet', href='/stylesheets/huo.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/require/require.js')
    block content
