extends layout

block content
    div.hui-profile-header
        div.hui-profile-img
        div.hui-profile-headerName
            div 美女bb
    div.hui-profile-description GAFA
    div.hui-profile-name
        div.hui-profile-name-inner
            div.hui-profile-name-text 美女bb
            div.hui-profile-name-static 用户名
    div.hui-profile-phone
        div.hui-profile-phone-inner
            div.hui-profile-phone-text 13800138000
            div.hui-profile-phone-static 电话
    div.hui-profile-favorite

    script(src='/javascripts/profile.js')
    include script
